/*
text and highlights: #05386B
darker green: #379683
background light green: #5CDB95
lighter greenL #8EE4AF
Tan for text: #EDF5E1

*/
html {
  --section-background-color: #5CDB95;

  --image-gradient: #5CDB95;

  --imp-text-color: #05386B;
 
}
html, #app, #app>div {
  height: 100%; 
  background: #5CDB95;
}
body{
  min-height: 100%;
  background: #5CDB95;
}
.blue {
  color: var(--imp-text-color) !important;
}

button:focus {
  box-shadow: none !important;
}




/* --------- */
/* Home section */
/* --------- */
.home-header {
  padding-top: 60px !important;

}

.home-section {
  position: static;
  height: calc(100vh - 55px);
  z-index: -1;
  padding-bottom: 30px !important;
  padding-top: 0px !important;
  padding-bottom:60px;
  background-color: #5CDB95;
}

.home-content {
  padding: 8rem 0 2rem !important;
  color: #5CDB95;

  text-align: center;
}


/* --------- */
/* Calendar */
/* --------- */

.calendar-page{
  position: relative !important;
  padding-top: 150px !important;
  padding-bottom: 50px !important;
  background-color: var(--section-background-color) !important;
  color: #05386B !important;
  height: 100vh;
}
.calendar-content{
 
  padding-bottom: 150px !important;
}

/* --------- */
/* Concert List */
/* --------- */
#list-item{
  background-color: #05386B; 
  min-height: 1in;
  color: white;
  text-align: center;
  vertical-align: middle;
  
}
.concert-list {
  padding: 8rem 0 2rem !important;
  position: relative !important;
  background: var(--section-background-color) !important;
  color: #05386B !important;
  height: 100vh;
 padding-bottom: 150px !important;
 
}
.concert-list-content{
 height: fit-content;
 padding-bottom: 150px !important;
}

/* --------- */
/* About */
/* --------- */

.about-section {
  position: relative !important;
  padding-top: 150px !important;
  padding-bottom: 30px !important;
  background-image: var(--section-background-color) !important;
  color: #05386B !important;
  height: 100vh;
}


/* --------- */
/*Scrollbar   */
/* --------- */

::-webkit-scrollbar {
  width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #379683;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #8EE4AF;
  border-radius: 12px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #05386B;
  border-radius: 12px;
}

/* --------- */
/* Navbar Section  */
/* --------- */
.sticky {
  background-color: #5CDB95!important;
  transition: all 0.3s ease-out 0s !important;
  box-shadow: 0px 10px 10px 0px rgba(9, 5, 29, 0.171) !important;
  backdrop-filter: blur(15px) !important;
}

.navbar {
  position: fixed !important;
  transition: all 0.3s ease-out 0s !important;
  padding: 0.3rem 2rem !important;
  font-size: 1.2rem !important;
}

.navbar-toggler {
  position: relative !important;
  background-color: transparent !important;
  border-color: transparent !important;
}

.navbar-toggler span {
  display: block !important;
  background-color: #05386B !important;
  height: 4px !important;
  width: 27px !important;
  margin-top: 5px !important;
  margin-bottom: 5px !important;
  transform: rotate(0deg) !important;
  left: 0 !important;
  opacity: 1 !important;
}

.navbar-toggler:focus,
.navbar-toggler:active {
  outline: 0 !important;
}

.navbar-toggler span:nth-child(1),
.navbar-toggler span:nth-child(3) {
  transition: transform 0.35s ease-in-out !important;
  transition: transform 0.35s ease-in-out !important;
}

.navbar-toggler:not(.collapsed) span:nth-child(1) {
  position: absolute !important;
  left: 12px !important;
  top: 10px !important;
  transform: rotate(135deg) !important;
  opacity: 0.9 !important;
}

.navbar-toggler:not(.collapsed) span:nth-child(2) {
  height: 12px !important;
  visibility: hidden !important;
  background-color: transparent !important;
}

.navbar-toggler:not(.collapsed) span:nth-child(3) {
  position: absolute !important;
  left: 12px !important;
  top: 10px !important;
  transform: rotate(-135deg) !important;
  opacity: 0.9 !important;
}

@media (max-width: 767px) {
  .navbar {
    padding: 1rem 2rem !important;
    font-size: 1.4rem !important;
    background-color: #5CDB95 !important;
  }
  .navbar-nav .nav-item a::after {
    display: none !important;
  }
}
.navbar-brand {
  color: rgb(250, 250, 250) !important;
}

.logo {
  height: 1.4em !important;
  width: 2.5em !important;
}

.navbar-nav .nav-link {
  color: #05386B !important;
  padding-right: 1rem !important;
  padding-left: 1rem !important;
}

.nav-link {
  padding: 0.8rem 1rem !important;
}

@media (max-width: 767px) {
  .nav-link {
    padding: 0.7rem 1rem !important;
  }
}

.navbar-nav .nav-item {
  position: relative;
  margin-left: 20px;
}

.navbar-nav .nav-item a {
  font-weight: 400;
  transition: all 0.3s ease-out 0s;
  position: relative;
  z-index: 1;
}

.navbar-nav .nav-item a::after {
  content: "";
  position: relative;
  display: block;
  height: 5px;
  width: 0;
  border-radius: 16px;
  background: #05386B;
  bottom: 1px;
  left: 0;
  z-index: -1;
  transition: all 0.3s ease-out 0s;
}

.navbar-nav .nav-item a:hover::after {
  width: 100%;
}



/* --------- */
/* Footer */
/* --------- */
.footer {
  box-shadow: 10px 10px 10px 10px rgba(9, 5, 29, 0.171) !important;
  background-color: #5CDB95;
  bottom: 0 !important;
  padding-top: 0 !important;
  padding-bottom: 0 !important ;
  z-index: 1;
  position:fixed;
}
.footer-copywright {
  text-align: center !important;
}

.footer-body {
  text-align: center !important;
}

@media (max-width: 767px) {
  .footer-copywright {
    text-align: center !important;
  }

  .footer-body {
    text-align: center !important;
  }
}

.footer h3 {
  font-size: 1em;
  color: #05386B !important;
  margin-top: 1em !important;
  margin-bottom: 0.5em  !important;
  
}
.footer-icons {
  margin-top: 0.5em !important;
  margin-bottom: 0.5em !important;
  padding: 0 !important;
}
.footer-social-icons {
  position: relative !important;
  display: inline-block !important;
  width: 40px !important;
  height: 40px !important;
  text-align: center !important;
  font-size: 1.2em !important;
  line-height: 2em !important;
  background: #EDF5E1!important;
  border-radius: 50% !important;
  transition: 0.5s !important;
}

.footer-social-icons::before {
  content: "";
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: #05386B;
  transition: 0.5s;
  transform: scale(0.9);
  z-index: -1;
}

.footer-social-icons:hover::before {
  transform: scale(1.1);
  box-shadow: 0 0 15px #05386B;
}

.footer-social-icons:hover {
  color: #05386B;
  box-shadow: 0 0 5px #05386B;
  text-shadow: 0 0 2px #05386B;
}

.social-icons {
  display: inline-block !important;
  padding-right: 15px;
  padding-left: 15px;
}

.icon-colour {
  color: #05386B!important;
}

