html {
  --section-background-color: beige;

  --image-gradient: white;

  --imp-text-color: black;
 
}
html, #app {
  height: 100%; 
  background: white;
}
body{
  min-height: 100%;
  background: white;
}
.blue {
  color: var(--imp-text-color) !important;
}

button:focus {
  box-shadow: none !important;
}




/* --------- */
/* Home section */
/* --------- */
.home-header {
  padding-top: 60px !important;

}

.home-section {
  position: static;
  height: calc(100vh - 55px);
  z-index: -1;
  padding-bottom: 30px !important;
  padding-top: 0px !important;
  padding-bottom:60px;
  background-color: beige;
}

.home-content {
  padding: 8rem 0 2rem !important;
  color: white;

  text-align: center;
}


/* --------- */
/* Calendar */
/* --------- */

.calendar-page{
  position: relative !important;
  padding-top: 150px !important;
  padding-bottom: 50px !important;
  background-color: var(--section-background-color) !important;
  color: black !important;
  height: 100vh;
}
.calendar-content{
 
  padding-bottom: 150px !important;
}

/* --------- */
/* Concert List */
/* --------- */
#list-item{
  background-color: white; 
  min-height: 1in;
  color: black;
  text-align: center;
  vertical-align: middle;
  
}
.concert-list {
  padding: 8rem 0 2rem !important;
  position: relative !important;
  background: var(--section-background-color) !important;
  color: black !important;
  height: 100vh;
 padding-bottom: 150px !important;
 
}
.concert-list-content{
 height: fit-content;
 padding-bottom: 150px !important;
}

/* --------- */
/* About */
/* --------- */

.about-section {
  position: relative !important;
  padding-top: 150px !important;
  padding-bottom: 30px !important;
  background-image: var(--section-background-color) !important;
  background-color: beige;
  color: black !important;
  height: 100vh;
}


/* --------- */
/*Scrollbar   */
/* --------- */

::-webkit-scrollbar {
  width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  background: white;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #303030;
  border-radius: 12px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(156, 156, 156);
  border-radius: 12px;
}



/* --------- */
/* Banner */
/* --------- */

.banner {
  margin-top: 4rem;
  height: 300px;
  background-image: url("/src/assets/images/banner-long.jpg");
  text-align: center;
}

.banner-text {
}

